RewriteEngine On

# Ελέγχει αν το URL δεν είναι ήδη ένα αρχείο ή φάκελος
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Αφαιρεί την επέκταση .php από τα URLs
RewriteRule ^(index|cart)$ $1.php [NC,L]